solving_log.txt
src/__pycache__/*.pyc
src/__pycache__/star_game.cpython-311.pyc
src/__pycache__/main.cpython-311.pyc
src/__pycache__/solving.cpython-311.pyc
src/puzzles/__pycache__/puzzle_game.cpython-311.pyc
src/puzzles/__pycache__/star_game.cpython-311.pyc
src/__pycache__/exceptions.cpython-311.pyc
src/puzzles/__pycache__/hex_game.cpython-311.pyc
src/puzzles/__pycache__/bubble_game.cpython-311.pyc
